<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>movCover</key>
		<string>https://huaqushhuo-1304583314.cos.ap-chengdu.myqcloud.com/img/1%20%2834%29.png</string>
		<key>movName</key>
		<string>遍野UTOPIA野奢露营影咖
</string>
		<key>movPlace</key>
		<string>苏州市阳澄湖旅游度假区澄林路欧野耕读园
</string>
		<key>movClientele</key>
		<string>144</string>
		<key>movIntrocul</key>
		<string>营地里配备了帐篷、食物、烧烤、露天电影，一应俱全，完全的拎包露营，呼吸新鲜自然的空气，挣脱钢筋混凝土的束缚，全身心融入大自然的完美之地。
</string>
		<key>movReviewJ</key>
		<string>https://huaqushhuo-1304583314.cos.ap-chengdu.myqcloud.com/img/1%20%2835%29.png</string>
		<key>movReviewM</key>
		<string>https://huaqushhuo-1304583314.cos.ap-chengdu.myqcloud.com/img/1%20%2836%29.png</string>
	</dict>
	<dict>
		<key>movCover</key>
		<string>https://huaqushhuo-1304583314.cos.ap-chengdu.myqcloud.com/img/1%20%2837%29.png</string>
		<key>movName</key>
		<string>苏州西山岛泊然湖景影咖
</string>
		<key>movPlace</key>
		<string>苏州市太湖风景区
</string>
		<key>movClientele</key>
		<string>35</string>
		<key>movIntrocul</key>
		<string>风景好、玩的多、性价比高。独栋别墅，三层小楼，无边泳池，梦幻灯光，别墅里具备了麻将桌、卡拉OK、电竞房、会议室，还有超大草坪，烧烤露台，度假休闲不二选择。</string>
		<key>movReviewJ</key>
		<string>https://huaqushhuo-1304583314.cos.ap-chengdu.myqcloud.com/img/1%20%2838%29.png</string>
		<key>movReviewM</key>
		<string>https://huaqushhuo-1304583314.cos.ap-chengdu.myqcloud.com/img/1%20%2839%29.png</string>
	</dict>
	<dict>
		<key>movCover</key>
		<string>https://huaqushhuo-1304583314.cos.ap-chengdu.myqcloud.com/img/1%20%2840%29.png</string>
		<key>movName</key>
		<string>南京云海跳伞俱乐部3D影业
</string>
		<key>movPlace</key>
		<string>南京市玄武大道699-8号2幢
</string>
		<key>movClientele</key>
		<string>47</string>
		<key>movIntrocul</key>
		<string>圆每个人的跳伞梦想，今天约明天跳的快捷，亲民的价格，专业的团队，不会让你的梦想留有遗憾。</string>
		<key>movReviewJ</key>
		<string>https://huaqushhuo-1304583314.cos.ap-chengdu.myqcloud.com/img/1%20%2841%29.png</string>
		<key>movReviewM</key>
		<string>https://huaqushhuo-1304583314.cos.ap-chengdu.myqcloud.com/img/1%20%2842%29.png</string>
	</dict>
	<dict>
		<key>movCover</key>
		<string>https://huaqushhuo-1304583314.cos.ap-chengdu.myqcloud.com/img/1%20%2844%29.png</string>
		<key>movName</key>
		<string>三鸟仓艺术影咖
三鸟仓艺术空间
</string>
		<key>movPlace</key>
		<string>江苏省南京市栖霞区汤山街道569乡道桦墅村南京石膏矿业有限公司
</string>
		<key>movClientele</key>
		<string>55</string>
		<key>movIntrocul</key>
		<string>够胆就来，恐怖元素非常多，不仅有室内还有室外，荒野的恐惧你受得住吗？还有众多恐怖剧本任你选，可谓是不</string>
		<key>movReviewJ</key>
		<string>https://huaqushhuo-1304583314.cos.ap-chengdu.myqcloud.com/img/1%20%2844%29.png</string>
		<key>movReviewM</key>
		<string>https://huaqushhuo-1304583314.cos.ap-chengdu.myqcloud.com/img/1%20%2845%29.png</string>
	</dict>
	<dict>
		<key>movCover</key>
		<string>http://qcloud.dpfile.com/pc/bmR6ivgKspRwyImBlfobEzams-tJuB1sjtU5ZsK5oAgikEni-fuyAaWSlxWlmmXgbKcq9vnEaGy3xLEf-_v_oA.jpg</string>
		<key>movName</key>
		<string>成都百丽宫影城</string>
		<key>movPlace</key>
		<string>中纱帽街8号成都远洋太古里M层</string>
		<key>movClientele</key>
		<string>61</string>
		<key>movIntrocul</key>
		<string>实实在在的电影殿堂，自在舒适的氛围，气派复古又有现代气息让人很舒服。电影小吃应有尽有</string>
		<key>movReviewJ</key>
		<string>https://qcloud.dpfile.com/pc/Mmp8hn8lXWfgjxJxQnFJRIxspJUfu3Pr-CzlqZ-1gKrgaDp4w8_qtJ0jll3Oc2Sw0scohmss9LtJWg-k-u7I4UHdS9p3h7-h2wfpsWVfxX8nY08TQIxe-DkxF3-YDtNHvJLBPMnbGaim65JmQfWVIQ.jpg</string>
		<key>movReviewM</key>
		<string>https://qcloud.dpfile.com/pc/wfdIpGX8uCIxEssdrH94Ywv6e-gFBjchiU1uXYrDLBJq8WNU93s2fROA2F9LweR50scohmss9LtJWg-k-u7I4UHdS9p3h7-h2wfpsWVfxX8nY08TQIxe-DkxF3-YDtNHvJLBPMnbGaim65JmQfWVIQ.jpg</string>
	</dict>
	<dict>
		<key>movCover</key>
		<string>https://p0.meituan.net/merchantpic/882acc17482c9c222e18d9aebd26bb6c456726.jpg%40340w_255h_1e_1c_1l%7Cwatermark%3D0</string>
		<key>movName</key>
		<string>头等舱私人影咖</string>
		<key>movPlace</key>
		<string>府城大道仁和春天B座2406</string>
		<key>movClientele</key>
		<string>66</string>
		<key>movIntrocul</key>
		<string>每个包间都是芝华士的沙发，音响效果也让你感觉身临其境，除了正在上映的新品，其他都有，我们会为你推荐电影，强烈推荐</string>
		<key>movReviewJ</key>
		<string>https://qcloud.dpfile.com/pc/aHngZUM_kbFZDJeVxHp2NR5cJLU5iLl-HvC1WIt2E8esVWMEPyZnc1Dq5HRo51xn0scohmss9LtJWg-k-u7I4UHdS9p3h7-h2wfpsWVfxX8nY08TQIxe-DkxF3-YDtNHvJLBPMnbGaim65JmQfWVIQ.jpg</string>
		<key>movReviewM</key>
		<string>https://qcloud.dpfile.com/pc/X9tL76ct475_CNyNg2wrMPQDCZJdjqxVGXds9A21vSJFCoD-i2665Hq9Mu1yqTjp0scohmss9LtJWg-k-u7I4UHdS9p3h7-h2wfpsWVfxX8nY08TQIxe-DkxF3-YDtNHvJLBPMnbGaim65JmQfWVIQ.jpg</string>
	</dict>
	<dict>
		<key>movCover</key>
		<string>https://p1.meituan.net/merchantpic/326b3f89354a01c9ea8e3823549af94a842789.jpg%40340w_255h_1e_1c_1l%7Cwatermark%3D0</string>
		<key>movName</key>
		<string>Enjoy私人影吧</string>
		<key>movPlace</key>
		<string>春熙路第一城B座12楼16号</string>
		<key>movClientele</key>
		<string>25</string>
		<key>movIntrocul</key>
		<string>影片种类齐全，民宿标准的私人影院，生日party，同学聚会的必选之地</string>
		<key>movReviewJ</key>
		<string>https://qcloud.dpfile.com/pc/jrICuZtMKHLj4sYgUCcBZtGWCoHyC8bECKEEBWizuTTkCVePZ4zUQP-2xlJPQ6xi0scohmss9LtJWg-k-u7I4UHdS9p3h7-h2wfpsWVfxX8nY08TQIxe-DkxF3-YDtNHvJLBPMnbGaim65JmQfWVIQ.jpg</string>
		<key>movReviewM</key>
		<string>https://qcloud.dpfile.com/pc/2joeP1MNDkwRhuwOk6U1JqW_pLPKXODp1uAhP6UuoMG3bUqzT6lYwhyuGl0DJdwI0scohmss9LtJWg-k-u7I4UHdS9p3h7-h2wfpsWVfxX8nY08TQIxe-DkxF3-YDtNHvJLBPMnbGaim65JmQfWVIQ.jpg</string>
	</dict>
	<dict>
		<key>movCover</key>
		<string>https://p0.meituan.net/merchantpic/5462d3fd60b31f21f110480b9871a3592239999.jpg%40340w_255h_1e_1c_1l%7Cwatermark%3D0</string>
		<key>movName</key>
		<string>Halo.M私人影院</string>
		<key>movPlace</key>
		<string>红星路三段第一城B座707</string>
		<key>movClientele</key>
		<string>58</string>
		<key>movIntrocul</key>
		<string>清晰大屏，环境干净房间整洁。榻榻米是懒人福音，房间简约设计，音效体验身临其境。</string>
		<key>movReviewJ</key>
		<string>https://qcloud.dpfile.com/pc/G6-3eg-mBmRsuY4LTBexPx2FuZyKpSV8MK9QedAJ3aZazfNMxBwe8zC9G7qoXZhe0scohmss9LtJWg-k-u7I4UHdS9p3h7-h2wfpsWVfxX8nY08TQIxe-DkxF3-YDtNHvJLBPMnbGaim65JmQfWVIQ.jpg</string>
		<key>movReviewM</key>
		<string>https://qcloud.dpfile.com/pc/XX-aSp1rWKhcY60j34_BOZ3S2CLKN7en8RkwllzLtb7WmYuhS4a-6CsW4SaIA0K-0scohmss9LtJWg-k-u7I4UHdS9p3h7-h2wfpsWVfxX8nY08TQIxe-DkxF3-YDtNHvJLBPMnbGaim65JmQfWVIQ.jpg</string>
	</dict>
	<dict>
		<key>movCover</key>
		<string>https://p1.meituan.net/merchantpic/d40481c6ee1a6a77fa6980955b3ef4704337750.jpg%40340w_255h_1e_1c_1l%7Cwatermark%3D0</string>
		<key>movName</key>
		<string>拾贰星座私人影院</string>
		<key>movPlace</key>
		<string>锦绣路1号保利中心B座20楼3号</string>
		<key>movClientele</key>
		<string>19</string>
		<key>movIntrocul</key>
		<string>环境很棒，多元化主题可选择，影室隔音很好，适合聚会的私人影院</string>
		<key>movReviewJ</key>
		<string>https://qcloud.dpfile.com/pc/zstGuYPJD7rezXaqZWgJ50CjonbclJDE1UVXbKLyc-M5ndAr9X_RGeA0KYkjFxYR0scohmss9LtJWg-k-u7I4UHdS9p3h7-h2wfpsWVfxX8nY08TQIxe-DkxF3-YDtNHvJLBPMnbGaim65JmQfWVIQ.jpg</string>
		<key>movReviewM</key>
		<string>http://p0.meituan.net/ugcpic/03f6f8208226b6c54f4c7d9b31524aef833883.jpg%40_430h_0e_1l%7Cwatermark%3D1%26%26r%3D1%26p%3D9%26x%3D2%26y%3D2%26relative%3D1%26o%3D20</string>
	</dict>
	<dict>
		<key>movCover</key>
		<string>https://p0.meituan.net/merchantpic/9b8df71290c4180833693fbd1be72bc5410095.jpg%40340w_255h_1e_1c_1l%7Cwatermark%3D0</string>
		<key>movName</key>
		<string>星聚星主题影吧</string>
		<key>movPlace</key>
		<string>中山路81号华夏大厦1708室</string>
		<key>movClientele</key>
		<string>31</string>
		<key>movIntrocul</key>
		<string>大屏幕观影，环境舒适，可以按照自己喜欢选择主图房间，电影种类非常多。环境及其应景，很适合和朋友一起来的影院</string>
		<key>movReviewJ</key>
		<string>https://qcloud.dpfile.com/pc/4UfCEZM-kXNSYNBdl_oRTjxwiCygEsG3V9IACJ0V0STjnpEiRya4ElbQ49QbUlY30scohmss9LtJWg-k-u7I4UHdS9p3h7-h2wfpsWVfxX8nY08TQIxe-DkxF3-YDtNHvJLBPMnbGaim65JmQfWVIQ.jpg</string>
		<key>movReviewM</key>
		<string>https://qcloud.dpfile.com/pc/Q_acTpkkx8jDjAMY9ahYUi_x8lpEs-Od-b_eK7Unv7AU1utjpLVjsggBDcG1Vcx90scohmss9LtJWg-k-u7I4UHdS9p3h7-h2wfpsWVfxX8nY08TQIxe-DkxF3-YDtNHvJLBPMnbGaim65JmQfWVIQ.jpg</string>
	</dict>
</array>
</plist>
