<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>seUserPic</key>
		<string>https://huaqushhuo-1304583314.cos.ap-chengdu.myqcloud.com/img/1a%20%288%29.jpg</string>
		<key>seUserName</key>
		<string>鲍勃</string>
		<key>seCokText</key>
		<string>成都-35km</string>
		<key>seContentE</key>
		<string>这个画面，拍成电影应该很好看！！</string>
		<key>seCooverC</key>
		<string>https://huaqushhuo-1304583314.cos.ap-chengdu.myqcloud.com/img/1a%20%289%29.jpg</string>
		<key>seCooverV</key>
		<string></string>
		<key>seCooverB</key>
		<string></string>
	</dict>
	<dict>
		<key>seUserPic</key>
		<string>https://huaqushhuo-1304583314.cos.ap-chengdu.myqcloud.com/img/1a%20%285%29.jpg</string>
		<key>seUserName</key>
		<string>可爱猫咪</string>
		<key>seCokText</key>
		<string>四川-22km</string>
		<key>seContentE</key>
		<string>两个爱好。电影和猫咪！</string>
		<key>seCooverC</key>
		<string>https://huaqushhuo-1304583314.cos.ap-chengdu.myqcloud.com/img/1a%20%286%29.jpg</string>
		<key>seCooverV</key>
		<string>https://huaqushhuo-1304583314.cos.ap-chengdu.myqcloud.com/img/1a%20%287%29.jpg</string>
		<key>seCooverB</key>
		<string></string>
	</dict>
	<dict>
		<key>seUserPic</key>
		<string>https://huaqushhuo-1304583314.cos.ap-chengdu.myqcloud.com/img/1a%20%283%29.jpg</string>
		<key>seUserName</key>
		<string>Corr</string>
		<key>seCokText</key>
		<string>上海-3021km</string>
		<key>seContentE</key>
		<string>猜猜这是哪个电影的画面？</string>
		<key>seCooverC</key>
		<string>https://huaqushhuo-1304583314.cos.ap-chengdu.myqcloud.com/img/1a%20%284%29.jpg</string>
		<key>seCooverV</key>
		<string></string>
		<key>seCooverB</key>
		<string></string>
	</dict>
	<dict>
		<key>seUserPic</key>
		<string>https://huaqushhuo-1304583314.cos.ap-chengdu.myqcloud.com/img/1a%20%281%29.jpg</string>
		<key>seUserName</key>
		<string>落日青青</string>
		<key>seCokText</key>
		<string>北京-2800km</string>
		<key>seContentE</key>
		<string>海边的魔法球。</string>
		<key>seCooverC</key>
		<string>https://huaqushhuo-1304583314.cos.ap-chengdu.myqcloud.com/img/1a%20%282%29.jpg</string>
		<key>seCooverV</key>
		<string></string>
		<key>seCooverB</key>
		<string></string>
	</dict>
	<dict>
		<key>seUserPic</key>
		<string>https://huaqushhuo-1304583314.cos.ap-chengdu.myqcloud.com/img/120200929.jpg</string>
		<key>seUserName</key>
		<string>小小</string>
		<key>seCokText</key>
		<string>上海-88km</string>
		<key>seContentE</key>
		<string>天气好的时候心情就很好</string>
		<key>seCooverC</key>
		<string>https://huaqushhuo-1304583314.cos.ap-chengdu.myqcloud.com/img/220200929.jpg</string>
		<key>seCooverV</key>
		<string></string>
		<key>seCooverB</key>
		<string></string>
	</dict>
	<dict>
		<key>seUserPic</key>
		<string>https://huaqushhuo-1304583314.cos.ap-chengdu.myqcloud.com/img/320200929.jpg</string>
		<key>seUserName</key>
		<string>乐乎</string>
		<key>seCokText</key>
		<string>北京-59km</string>
		<key>seContentE</key>
		<string>吃好吃的大餐</string>
		<key>seCooverC</key>
		<string>https://huaqushhuo-1304583314.cos.ap-chengdu.myqcloud.com/img/420200929.png</string>
		<key>seCooverV</key>
		<string></string>
		<key>seCooverB</key>
		<string></string>
	</dict>
	<dict>
		<key>seUserPic</key>
		<string>https://huaqushhuo-1304583314.cos.ap-chengdu.myqcloud.com/img/520200929.jpg</string>
		<key>seUserName</key>
		<string>小罗布</string>
		<key>seCokText</key>
		<string>成都-175km</string>
		<key>seContentE</key>
		<string>好玩</string>
		<key>seCooverC</key>
		<string>https://huaqushhuo-1304583314.cos.ap-chengdu.myqcloud.com/img/620200929.png</string>
		<key>seCooverV</key>
		<string></string>
		<key>seCooverB</key>
		<string></string>
	</dict>
</array>
</plist>
