<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>shadoeEdgeUser</key>
		<string>23877891</string>
		<key>shadoeEdgeNick</key>
		<string>phuo Hoang</string>
		<key>shadoeEdgePSd</key>
		<string>12380913</string>
		<key>shadoeEdgeUserPic</key>
		<string>https://img2.woyaogexing.com/2021/08/24/102945100136480bb85de94ab54ae9ce!400x400.jpeg</string>
	</dict>
</array>
</plist>
